@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 21px 246px 173px 121px;
}

.container ul {
  margin-top: 97px;
  display: flex;
}
.container ul li {
  list-style-type: none;
  margin-right: 25px;
  display: flex;
  align-items: center;
}

.container ul img {
  width: 22px;
  height: 22px;
}

.container ul li p {
  margin-left: 11px;
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}

.top-container {
  margin-top: 29px;
  display: flex;
  justify-content: space-between;
}

.text-container {
  width: 628px;
}

.text-container h1 {
  color: #000;
  font-family: Roboto Slab;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.385%;
}

.text-container p {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.top-container img {
  width: 304px;
  height: 356px;
}

.bottom-container {
  padding: 19px 18px 19px 26px;
  width: 483px;
  margin: auto;
  margin-top: 87px;
  border-radius: 5px;
  background: #1e4681;
}

.bottom-container p {
  margin-bottom: 5px;
  color: #fff;
  font-family: Roboto Slab;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.bottom-container h2 {
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

/* tablet style */

@media screen and (max-width: 1024px) {
  .container {
    padding: 22px 142px 100px 70px;
    background-color: darkcyan;
  }

  .container ul {
    margin-top: 56px;
  }

  .container ul li {
    margin-right: 14px;
    align-items: baseline;
  }

  .container ul img {
    width: 12.742px;
    height: 12.163px;
  }

  .container ul li p {
    margin-left: 6px;
    font-size: 12px;
  }

  .top-container {
    margin-top: 7px;
  }

  .text-container {
    width: 363px;
  }

  .text-container h1 {
    font-size: 46px;
  }

  .text-container p {
    font-size: 12px;
  }

  .top-container img {
    width: 176.067px;
    height: 206.183px;
  }

  .bottom-container {
    padding: 11px 9px 4px 15px;
    width: 280px;
    margin-top: 50px;
    border-radius: 2px;
  }

  .bottom-container p {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .bottom-container h2 {
    text-align: right;
    font-size: 12px;
  }
}

/* mobil style */

@media screen and (max-width: 768px) {
  .container {
    padding: 36px 32px 75px 35px;
    background-color: rgb(115, 15, 117);
  }

  .container ul {
    margin-top: 44px;
  }

  .container ul li {
    margin-right: 11px;
    align-items: center;
  }

  .container ul img {
    width: 10px;
    height: 10px;
  }

  .container ul li p {
    margin-left: 4px;
    font-size: 10px;
  }

  .top-container {
    margin-top: 8px;
  }

  .text-container {
    width: 292px;
  }

  .text-container h1 {
    font-size: 37px;
  }

  .text-container p {
    font-size: 10px;
  }

  .top-container img {
    width: 141px;
    height: 165px;
    margin-top: 100px;
  }

  .bottom-container {
    padding: 9px 7px 3px 12px;
    width: 225px;
    margin-top: 47px;
    border-radius: 2px;
  }

  .bottom-container p {
    margin-bottom: 7px;
    font-size: 11px;
  }

  .bottom-container h2 {
    text-align: right;
    font-size: 10px;
  }
}
